html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: url('https://webapp-production-3a28.up.railway.app/images/ipl-2.jpg') center/cover no-repeat;
    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
}
h1 {
    color:#0b0000;
}
h1:hover , a:hover{
    background: linear-gradient(to right, #ee8012, #f8f5f5, #14bf04);
    color: #0b0000;
}
a {
    color: rgb(14, 201, 218);
    display: block;
    padding: 2px;
    margin: 2px;
}
#linklist {
    display: flex;
    list-style: none;
    padding: 0;
}

.left, .right {
    flex: 1;
}

.left a, .right a {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}